* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 88%;
  background-color: #ececec;
  position: relative;
}
/* .container{
  max-width: 1200px;
  margin: 0 auto;
} */
button,
input {
  outline: none;
}
